<!DOCTYPE html>
<html lang="en">
<head>
    <title>World Stats</title>
    <link href="//getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="//fortawesome.github.io/Font-Awesome/assets/font-awesome/css/font-awesome.css" rel="stylesheet">
</head>
<body role="document">

    <!-- Start navbar -->
    <div class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="">Minecraft Player Stats</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> Players <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            {% for player in players %}
                            <li><a href="/player/{{player.username}}">{{player.username}}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- End navbar -->

    <!-- Start main page container -->
    <div class="container-fluid" role="main">
        <!-- What kind of message would be useful here? -->
        <div class="jumbotron">
            <h1>Player Stats! <span class="fa fa-signal"></span></h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>

        <!-- First row of stats -->
        <div class="row">
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><span class="fa fa-eye"></span> Top {{most_online|length}} Addicts</h3>
                    </div>
                    <div class="list-group">
                        {% for username, minutes in most_online %}
                        <a href="/player/{{username}}" class="list-group-item">{{username}} ({{"%d"|format(minutes/60)}} hrs)</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><span class="fa fa-wrench"></span> Top {{most_blocks|length}} Miners</h3>
                    </div>
                    <div class="list-group">
                        {% for username, blocks in most_blocks %}
                        <a href="/player/{{username}}" class="list-group-item">{{username}} ({{"%d"|format(blocks/1000)}}k blocks)</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><span class="fa fa-road"></span> Top {{greatest_distance|length}} Globetrotters</h3>
                    </div>
                    <div class="list-group">
                        {% for username, meters in greatest_distance %}
                        <a href="/player/{{username}}" class="list-group-item">{{username}} ({{"%d"|format(meters/1000)}} km)</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <!-- End row of stats -->
    </div>
    <!-- End main page container -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//getbootstrap.com/dist/js/bootstrap.min.js"></script>
</body>
</html>
