{% extends "layout.html" %}
{% block title %}World Stats{% endblock %}
{% block maincontent %}
<!-- Start main page container -->
<div class="container-fluid" role="main">
    <!-- What kind of message would be useful here? -->
    <div class="jumbotron">
        <h1>Player Stats! <span class="fa fa-signal"></span></h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>

    <!-- First row of stats -->
    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><span class="fa fa-eye"></span> Top {{most_online|length}} Addicts</h3>
                </div>
                <div class="list-group">
                    {% for username, minutes in most_online %}
                    <a href="/player/{{username}}" class="list-group-item">{{username}} ({{"%d"|format(minutes/60)}} hrs)</a>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><span class="fa fa-globe"></span> Top {{most_broken|length}} Miners</h3>
                </div>
                <div class="list-group">
                    {% for username, blocks in most_broken %}
                    <a href="/player/{{username}}" class="list-group-item">{{username}} ({{"%d"|format(blocks/1000)}}k blocks)</a>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><span class="fa fa-cog"></span> Top {{most_crafted|length}} Crafters</h3>
                </div>
                <div class="list-group">
                    {% for username, items in most_crafted %}
                    <a href="/player/{{username}}" class="list-group-item">{{username}} ({{"%d"|format(items/1000)}}k items)</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <!-- End row of stats -->

    <!-- Second row of stats -->
    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><span class="fa fa-shield"></span> Top {{most_kills|length}} Murderers</h3>
                </div>
                <div class="list-group">
                    {% for username, kills in most_kills %}
                    <a href="/player/{{username}}" class="list-group-item">{{username}} ({{kills}} kills)</a>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><span class="fa fa-frown-o"></span> Top {{most_deaths|length}} Dirtnappers</h3>
                </div>
                <div class="list-group">
                    {% for username, deaths in most_deaths %}
                    <a href="/player/{{username}}" class="list-group-item">{{username}} ({{deaths}} deaths)</a>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><span class="fa fa-road"></span> Top {{greatest_distance|length}} Globetrotters</h3>
                </div>
                <div class="list-group">
                    {% for username, meters in greatest_distance %}
                    <a href="/player/{{username}}" class="list-group-item">{{username}} ({{"%d"|format(meters/1000)}} km)</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <!-- End row of stats -->
</div>
<!-- End main page container -->
{% endblock %}
